<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="about-container">
    <ion-icon name="info-icon" style="font-size: 64px; color: var(--ion-color-warning);"></ion-icon>
    
    <h1 class="simpson-font">Simpson Explorer</h1>
    <p>Versión 1.0.0</p>

    <ion-card mode="ios">
      <ion-card-content>
          Esta aplicación fue creada para explorar los personajes de Springfield 
          <div>utilizando tecnologías modernas como Ionic y Angular Standalone</div>
        <p style="margin-top: 15px; font-style: italic;">
          "¡D'oh!" - Homer Simpson
        </p>
      </ion-card-content>
    </ion-card>

    <p class="footer-text">Desarrollado con ❤️ para fans de Los Simpson.</p>
  </div>
</ion-content>