.simpson-card {
  border: 2px solid #fed420;
  border-radius: 15px;
}

.character-image {
  max-height: 250px;
  width: auto;
}

.character-quote {
  font-size: 1.2rem;
  font-style: italic;
  color: #444;
}