<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Acceso al Sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column; justify-content: center; min-height: 100%;"> 
    
    <div class="ion-text-center ion-margin-bottom">
      <img src="assets/icon/Logo-app.png" 
           style="width: 300px; height: auto; border-radius: 1px;" 
           alt="Logo App" />
    </div>
   
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          
          <ion-item lines="full" class="ion-margin-bottom">
            <ion-input 
              label="Correo Electrónico" 
              label-placement="floating" 
              formControlName="email" 
              type="email" 
              placeholder="   ">
            </ion-input>
          </ion-item>

          <ion-item lines="full" class="ion-margin-bottom">
            <ion-input 
              label="Contraseña" 
              label-placement="floating" 
              formControlName="password" 
              type="password" 
              placeholder="******">
            </ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top" color="warning">
            INGRESAR
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>