<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-searchbar placeholder="Buscar sección..."></ion-searchbar>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/home" lines="none">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio (Lista API)</ion-label>
          </ion-item>
          <ion-item routerLink="/profile" lines="none">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Mi Perfil</ion-label>
          </ion-item>
          <ion-item routerLink="/login" lines="none">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>